<% iteration = locals[:iteration] %>
<% i = locals[:index] %>

<div class="iteration-card">
  <a href=<%="iterations/#{iteration.id}"%>>
    <h3><%= "Iteration #{i + 1}" %></h3>
    <p><%= "Created at: #{iteration.created_at}" %></p>
    <p><%= "Last update: #{iteration.updated_at}" %></p>
  </a>
</div>
